.conteiner{
    margin: auto;
    width: 1283px;

}
.content{
    display: flex;
    flex-flow: wrap;
}
/* header logo*/
.logo{
    margin: 30px 0;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}
.logo-ra{
    color: #000000;
}
.logo-mda{
    color: cornflowerblue;
}
/*header menu*/

.top-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35444F;
    height: 72px;
    width: 1253px;
    margin-bottom: 40px;

}
.top-menu-item{
    display: block;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #FFFFFF;
    height: 72px;
    box-sizing: border-box;
    padding: 20px 30px;

}
.top-menu-item:hover{
    background: #222F3A;
}
/* left menu */
.nav-left{
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    box-sizing: border-box;
}
.nav-left-menu{
    padding: 0;
    margin: 0;
}
.nav-left-menu-item{
    display: block;
    list-style-type: none;
    font-size: 27px;
    line-height: 27px;
    color: #35444F;
    padding: 25px;
}
.nav-left-menu-item:hover{
    background: #DBDBDB;
    width: 292px;
    height: 38px;
    left: 2px;
    top: 78px;
}
/* img*/
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
}
.content-img{
    background-image: url("../img/top1-img 1.png");
    height: 381px;
    width: 320px;
}
.increase{
    transition: 1s;
}
.increase:hover{
    transform: scale(1.2);
}

.content-text{
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    margin-left: auto;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgrey;
    height: 69px;
    width: 1293px;
    margin: 40px 0;
}
.nav-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-footer-item{
    display: block;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 10px 20px;
    box-sizing: border-box;
}
.copyright{
    font-size: 24px;
    line-height: 24px;
    margin-left: 120px;
}
.nav-footer-item:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}